<br><br>
<br>
<h1>Sqli Test Posts</h1>

<% @post.each do |fad| %>
	<div class="container">
	<div class="well">
		<p><%= fad.body %></p>
		<p><%= link_to 'Read More', post_path(fad), :class => 'btn btn-info' %></p>
	</div>
	</div>

<% end %>