<br><br><h1>Welcome to Ruby on Rails Buggy App :) </h1>
<hr>
<div class="well">
<h3>Cross Site Scritping</h3>
<a href="http://127.0.0.1:3000/example1">Cross Site Scripting - Example 1</a></br>
<a href="http://127.0.0.1:3000/example2">Cross Site Scripting - Example 2</a></br>
<a href="http://127.0.0.1:3000/example3">Cross Site Scripting - Example 3</a><br>
<a href="http://127.0.0.1:3000/example4">Cross Site Scripting - Challange 4</a><br>
<a href="http://127.0.0.1:3000/example5">Cross Site Scripting - Challange 6</a><br>
<a href="http://127.0.0.1:3000/example6">Cross Site Scripting - Challange 7</a><br>
<a href="http://127.0.0.1:3000/example7">Cross Site Scripting - Challange 8</a><br>
<a href="http://127.0.0.1:3000/example8">Cross Site Scripting - Challange 9</a><br>

<br><h3>Local File read vulnerability</h3>
<a href="http://127.0.0.1:3000/example9">Local file Rread Vulnerability</a><br><br>
<h3>Stored - Cross Site Scripting</h3>
<a href="http://127.0.0.1:3000/posts/new">Stored Cross Site Scripting</a><br><br>
<h3>SQL injection</h3>
<a href="http://127.0.0.1:3000/sqlitest?id=1">SQL injection</a><br>
<a href="http://127.0.0.1:3000/sqlitest2?id=1">SQL injection - Challange 2</a>
</div>
</div>


